<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登陆页面</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<form class="form-horizontal" role="form" action="login" method="post">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <div class="form-group">
        <h1 class="text-center">网络设备巡检工具</h1>

        <label for="firstname" class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="account"
                   placeholder="请输入用户名" name="account">
        </div>
    </div>
    <div class="form-group">
        <label for="lastname" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="password"
                   placeholder="请输入密码" name="password">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">登录</button>
        </div>
    </div>

</form>

</body>
</html>